%form
  %dl#create_account.centered
    %h2 Welcome to BuildyBuild!
    %h3 You must be brand new...
    %h4 So create your account!
    %dd
      %label Email:
      %input(type="text")
    %dd
      %label Create password:
      %input(type="text")
    %dd
      %label Confirm password:
      %input(type="text")
    %dd
      %input(type="submit" value="create account")
