%form
  %dl#create_website.centered
    %dd
      %label Website name:
      %input(type="text")
    %dd
      %label Email:
      %input(type="text")
    %dd
      %label Create password:
      %input(type="text")
    %dd
      %label Confirm password:
      %input(type="text")
    %dd
      %input(type="submit" value="create website")
