%form
  %dl#create_website
    %dt
      %label Website name
    %dd
      %input
    %dt
      %label Username (valid email)
    %dd
      %input
    %dt
      %label Create password
    %dd
      %input
    %dt
      %label Confirm password
    %dd
      %input
